@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Manrope&display=swap');

/* #F7F0F5 #FA824C #00072D #5BC3EB */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F0F5;
  overflow-x: hidden;
}

nav {
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 33.3%;
}

.logo-text {
  color: #45a8d0;
}

.logo-text span{
  color: #00072D;
  font: inherit;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 33.3%;
}

nav ul a,
nav ul a:visited,
nav ul a:focus {
  color: #00072D;
  text-decoration: none;
  margin-inline: 1rem;
}

nav ul a:hover {
  color: #FA824C;
}

.nav-btn {
  width: 33.3%;
  text-align: right;
}

.primary-btn, .primary-outline-btn {
  border: none;
  color: #F7F0F5;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary-outline-btn {
  background-color: transparent;
  border: 2px solid #FA824C;
  color: #00072D;
  margin-right: 10px;
}

.primary-btn, .primary-outline-btn:hover {
  background-color: #FA824C;
  background-image: linear-gradient(#FA824C, #c4673d);
  color: #F7F0F5;
}

.primary-btn:hover
{
  background-image: linear-gradient(hsla(19, 95%, 64%, 0.5), hsla(19, 53%, 50%, 0.5));
}

.nav-icons ul{
  font-size: 1.2rem;
  display: none;
  width: 100vw;
}

.nav-icons a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.nav-icons small {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .menu,
  .nav-btn {
    display: none;
  }
  .nav-icons ul{
    display: flex;
    justify-content: space-around;
  }
  nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

.logo {
  width: 100%;
  text-align: center;
  }
}

/* Hero.js */

.hero-container video{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: -1;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero-txt {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: hsla(231, 100%, 9%, 0.557);
  color: #F7F0F5;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-txt h1 {
  font-size: 64px;
}

.hero-btns {
  margin-top: 1rem;
}

.hero-btns .primary-outline-btn {
  color: #F7F0F5;
  margin-left: 10px;
}

.trial {
  background-color: red;
  height: 100vh;
}