@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Manrope&display=swap');

/* #F7F0F5 #FA824C #00072D #5BC3EB */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

h4 {
  text-transform: uppercase;
  color: #45a8d0;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F0F5;
  overflow-x: hidden;
}

nav {
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 33.3%;
}

.logo-text {
  color: #45a8d0;
}

.logo-text span{
  color: #00072D;
  font: inherit;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 33.3%;
}

nav ul a,
nav ul a:visited,
nav ul a:focus {
  color: #00072D;
  text-decoration: none;
  margin-inline: 1rem;
}

nav ul a:hover {
  color: #FA824C;
}

.nav-btn {
  width: 33.3%;
  text-align: right;
}

.primary-btn, .primary-outline-btn {
  color: #F7F0F5;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary-outline-btn {
  background-color: transparent;
  border: 2px solid #FA824C;
  color: #00072D;
  margin-right: 10px;
}

.primary-btn, .primary-outline-btn:hover {
  background-color: #FA824C;
  background-image: linear-gradient(#FA824C, #c4673d);
  color: #F7F0F5;
  border: none;
}

.primary-btn:hover
{
  background-image: linear-gradient(hsla(19, 95%, 64%, 0.5), hsla(19, 53%, 50%, 0.5));
}

.nav-icons ul{
  font-size: 1.2rem;
  display: none;
  width: 100vw;
}

.nav-icons a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.nav-icons small {
  font-size: 0.8rem;
}

/* Hero.js */

.hero-container video{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: -1;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero-txt {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: hsla(231, 100%, 9%, 0.557);
  color: #F7F0F5;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-txt h1 {
  font-size: 64px;
}

.hero-btns {
  margin-top: 1rem;
}

.hero-btns .primary-outline-btn {
  color: #F7F0F5;
  margin-left: 10px;
}

.trial {
  background-color: red;
  height: 100vh;
}

/* Features.js */
.features-container {
  padding: 1rem;
}

.feature-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 2rem 0;
}

.feature-card {
  width: 23%;
  min-width: 260px;
  height: 300px;
  background-color: #eddee8;
  padding: 2rem;
  border-radius: 0.5rem;
}

.feature-card:nth-child(1) {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.feature-card:nth-child(1) h2 {
  font-size: 2rem;
  color: #00072D;
}

.feature-card:nth-child(3) {
  margin-top: 3rem;
}

.feature-card h2 {
  color: #FA824C;
  letter-spacing: 1px;
  margin: 1.5rem 0;
}

.feature-card p {
  margin-bottom: 1rem;
}

/* Destination.js */
.destination-container {
  padding: 1rem;
}

.explore-icon {
  color: #45a8d0;
  margin-left: 0.8rem;
}

::-webkit-scrollbar {
  width: 0px;
}

.destination-boxes {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.tour-card {
  flex-shrink: 0;
  width: 300px;
  height: 400px;
  background-color: #eddee8;
  padding: 2rem;
  margin: 2rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px #f3e4ef;
  position: relative;
  cursor: pointer;
}

.tour-img {
  max-width: 236px;
  height: 157px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.tour-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease-in-out;
}

.tour-img img:hover {
  transform: scale(1.08);
}

.tour-card h4 {
  font-size: 18px;
}

.country {
  margin: 0.2rem 0;
  color: hsla(231, 100%, 9%, 0.596);
}

.cost {
  background-color: #64c6ed;
  width: 70px;
  text-align: center;
  padding: 0.4rem;
  border-radius: 50px;
  font-weight: bold;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  margin-top: 1rem;
}

.desc {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .menu,
  .nav-btn {
    display: none;
  }
  .nav-icons ul{
    display: flex;
    justify-content: space-around;
  }
  nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .logo {
    width: 100%;
    text-align: center;
    }
  .feature-card {
    width: 40%;
  } 
  .feature-card:nth-child(3) {
    margin: 0;
  }

}

@media screen and (min-width: 1080px) {
  /* .tour-card {
    width: 25%;
    height: 500px;
  } */
}