@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Manrope&display=swap');

/* #F7F0F5 #FA824C #00072D #5BC3EB */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F0F5;
}

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.logo-text {
  color: #45a8d0;
}

.logo-text span{
  color: #00072D;
  font: inherit;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

nav ul a,
nav ul a:visited,
nav ul a:focus {
  color: #00072D;
  text-decoration: none;
}

nav ul a:hover {
  color: #FA824C;
}

.primary-btn {
  border: none;
  background-color: #FA824C;
  color: #F7F0F5;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: hsla(19, 95%, 64%, 0.9);
}